html,
body {
    background-color: #fafafa;
}

html {
    padding-bottom: 26px;
}
body {
    padding-top: 70px; // To allow for PrimaryNav
    @media (max-width: @screen-sm-min) { // 768px
    }
}

.maincontent {
    @media (min-width: @screen-sm-min) { // 768px
    }
}


body.hc {
    color: black;
}